.footer{
    border: 2px solid #000;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    padding-top: 40px;
    margin-top: 100px;
}
.footer-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 40px;

}
.footer-item{
    display: flex;
    flex-direction: column;
}

.footer-item h2{
    font-size: 35px;
    margin:0;
    font-weight: bold;
}
.footer-item p{
    font-size: 20px;
}
.footer-item  {
    margin: 0;
    list-style: none;
    gap: 15px;
    padding: 0;
}
.footer-item h4{
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
}
.footer-item li a{
    font-size: 18px;
}
.footer-link{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #000;
    margin-top: 20px;
    padding: 10px;
}
@media (max-width: 769px) {
    .footer-wrapper{
        gap: 40px;
        justify-content: start;
    }
    .footer-wrapper {
        flex-wrap: wrap;
    }
}